.accel-cardtitle_address {
    font-size:.95em;
    font-weight: bold;
}
.accel-card-subheader-row {
    background-color: rgb(244,246,249);
    box-shadow: 0 1px 2px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.accel-test-borders{
    border:0px dotted red;
}