.THIS .accel-admin-help-outer-container {padding-top:2px;padding-bottom: 20px;}
.THIS .accel-square-box{border-width: 1px;border-style: solid;border-color: rgb(219, 219, 219);border-image: initial;}

.THIS .accel-square-box__info {
    border-left:3px solid var(--lwc-brandAccessible,rgb(0, 112, 210));-webkit-appearance: none;background-color: #F3F2F2;
}

.THIS .accel-square-box__info > svg { fill:purple;}

.THIS .accel-square-box__success {border-left:3px solid green;-webkit-appearance: none;background-color: #F3F2F2;}
.THIS .accel-square-box__success > svg { fill:purple;}

.THIS .accel-square-box__warning {border-left:3px solid rgb(255, 183, 93);-webkit-appearance: none;background-color: #F3F2F2;}
.THIS .accel-square-box__warning lightning-icon > lightning-primitive-icon > svg { fill:rgb(255, 183, 93);}

.THIS .accel-scoped-notification__warning { font-size:.875rem;}
.THIS .accel-detailed-body-text {font-size:.80rem;margin-top: 20px;}
.THIS .accel-hard-wrap-text {   overflow-wrap:break-word }
.THIS .accel-error-icon svg {fill: rgb(194, 57, 52)!important;} /* override parent*/

.THIS .fa-ul > li { position: relative; margin-bottom: 1em;}

.THIS .accel-success-checks {color:green}
.THIS .accel-success-text {color:green}
.THIS .accel-error-checks {color:rgb(194, 57, 52);font-weight: bold;}
.THIS .accel-error-text {color:rgb(194, 57, 52);}