.accel-blue-icon{
    --lwc-colorTextIconDefault: rgb(42,115,158);
}
.accel-green-icon{
    --lwc-colorTextIconDefault: rgb(18, 196, 10);
}
.accel-test-borders {
    border:0px dotted red;
}
.accel_card_subtitle {
    font-size: .75em;
}

.lgc-highlight {
    background-color: rgb(255,255,0);
}
.accel-warn-text{
    color: rgb(227, 93, 25);
}
.accel-admin-cmp {
    background-color: black;
}