.accel-community-theme-button-overrides {color:white;font-size:.95rem;}
.accel-test-borders {border:0px dotted red}

/* General Interior form sizing, icon color etc */
.accel-password-form-text {font-family: SFS,Helvetica,Arial,sans-serif;}
.accel-password-form-text .slds-form-element__label .slds-no-flex {color:red}
.accel-user-bold {font-weight: 600;}
.accel-password-last-changed {color:rgb(105, 105, 105);font-size:.75rem}
.accel-pw-policy-statement {font-size:.75rem;color:rgb(105, 105, 105);margin-top:20px;margin-bottom:20px;}
.accel-pw-policy-statement-mobile {font-size:.75rem;color:rgb(105, 105, 105);margin-top:1px;margin-bottom:1px;}
.accel-help-icon-container{float:right;}
.accel-password-icon {padding-right: 8px;width: 16px;}
.accel-pw-checks{margin-top:20px}
.accel-pw-success-checks {color:green}
.accel-pw-wrapper {position: relative;background: #fff;}
.accel-pw-message{
    display: block;line-height: 80px;font-size: 10px;padding: 0 10px;pointer-events: none;
    position: absolute;right: 0;top: 0;
}
.accel-show-pw-link a  {font-size:1.0em;color:rgb(16, 94, 222);}
.accel-pw-good-color {color:green;}
.accel-pw-bad-color {color:rgb(194, 57, 52)}
.accel-pw-good_so_far-color {olor: #16325c;}
.accel-square-box {border-width: 1px;border-style: solid;border-color: rgb(219, 219, 219);border-image: initial;}
.accel-square-box__info {border-left-width: thick;border-left-color:#32af5c;background-color: #F3F2F2;font-size: .87em}


/* font awesome icon tweaks */
.accel-fa-security-bg {color: rgb(42, 115, 158);}
.accel-fa-pw-assistance-bg {color: #32af5c;}
.accel-fa-stack-halfx {font-size: .5em}

/* mobile */
@media only screen and (max-width: 768px) {
    .accel-pw-policy-statement {margin-top:5px;margin-bottom:5px;}
    .accel-password-help {font-size:.75rem;margin-top:5px;margin-bottom:5px;}
    .accel-box-header {font-size: .80em }
}
/* ipad / desktop */
@media only screen and (min-width: 768px) {
    .accel-password-help {font-size:.90rem;margin-top:0px;margin-bottom:5px;}
    .accel-m-top-desktop__xlarge {margin-top:40px}
    .accel-m-top-desktop__large {margin-top:30px}
    .accel-m-top-desktop__medium {margin-top:20px}
    .accel-m-top-desktop__small {margin-top:10px}
    .accel-m-bottom-desktop__medium {margin-bottom:20px}
    .accel-m-bottom-desktop__small {margin-bottom:10px}
    .accel-p-left-desktop__xlarge {margin-left:40px}
    .accel-p-right-desktop__xlarge {margin-right:40px}
    .accel-p-right-desktop__small {margin-right:10px}
    .accel-p-left-desktop__large {margin-left:30px}
    .accel-p-left-desktop__small {margin-left:10px}
    .accel-pw-message{
        display: block;line-height: 90px;font-size: 12px;padding: 0 10px;pointer-events: none;
        position: absolute;right: 0;top: 0;
    }
}