/**
 * Created by rnend on 8/25/2021.
 */
.accel-scoped-tab-set {
    --sds-c-tabs-scoped-list-sizing-height: 2.0rem;
    --sds-c-tabs-scoped-item-line-height: 2.0rem;
}
.accel-scoped-tab {
    min-height: 500px;
}