.THIS {
}

.THIS .accel-account-selector{
    margin: 20px;
    padding: 5px;
    border: 2px dotted green;
    background-color: white;
}

.THIS .accel-file-selector{
    border: 2px dotted blue;
    background-color: white;
    margin: 20px;
    padding: 5px;
    height: 600px;
}