.THIS .accel-wip-1 {border:1px dotted blue;}
.THIS .accel-wip-2 {border:2px dotted purple;}
.THIS .accel-wip-3 {border:3px dotted red;}

.THIS .slds-coordinates {display: none!important;}
.THIS .accel-google-map {max-height: 500px !important;}
.THIS .accel-top-search-input-container {margin-bottom:20px;}
.THIS .accel-datatable-scrollersize {height:500px;}
.THIS .slds-form-element__label {color: black;font-weight: 600;}
.THIS .accel-location-comparison-datatable td {padding: .2rem!important;white-space: nowrap;position: relative;}