.accel-record-create-icon {
    /*color: lack;*/
    /*--sds-c-icon-color-foreground-default: black;*/
}
.accel-record-create-icon-white {
    color: white;
    --sds-c-icon-color-foreground-default: white;
}
.accel-text-info-icon {
    color:#dad3d3;
    /*--sds-c-icon-color-foreground-default: #dad3d3;*/
}
.accel-admin-button {
    /*--sds-c-button-brand-color-background: black;*/
    /*--sds-c-button-brand-color-border: black;*/
    /*--sds-c-button-brand-color-border-hover: silver;*/
    /*--sds-c-button-brand-color-background-hover: #393939;*/
}
.accel-scoped-tab-set {
    --sds-c-tabs-scoped-list-sizing-height: 2.0rem;
    --sds-c-tabs-scoped-item-line-height: 2.0rem;
}