.accel-silver-background { background-color: #FAFAF9}
.accel-filter-title { background-color: rgb(229 231 211); border-bottom: 1px solid rgb(216 212 212);}
.accel-inline-div { display: inline; }
.accel-filters-applied-text { color: #ab6f02;font-weight: bold }
.accel-filters-text { font-weight: bold }