.accel-icon-green {
    --sds-c-icon-color-foreground-default: green;
}
.accel-icon-orange {
    --sds-c-icon-color-foreground-default: orange;
}
.accel-text-orange {
    color:rgb(254, 147, 57);font-size: .90em;
}
.accel-text-green {
    color:green;font-size: .90em;
}