.accel-success-text {color:green;font-weight:bold}
.accel-record-link {border-bottom: 1px dotted rgb(112, 110, 107)!important;}
.accel-danger-text {color:rgb(194, 57, 52);font-weight:bold}
.accel-danger-icon svg {fill:rgb(194, 57, 52)!important;}
.accel-success-icon svg {fill:green!important;}
.accel-alert-inner-container {padding:0px;}
.accel-alert-outer-container {width:100%}
.accel-tile-detail { font-size:.84em }
.accel-alert-label-col {width:39% }
.accel-alert-data-col {width:61% }
.accel-case-number-link {font-weight: bold}
.accel-danger-border {-webkit-box-shadow:0px 0px 3px 1px #ff0000 ;-moz-box-shadow:0px 0px 3px 1px #ff0000 ;box-shadow:0px 0px 3px 1px #ff0000 ;}
.accel-filter-icon-highlighted { fill:orange }
.accel-title-text {font-size:.88em;}
.slds-card__header { border-bottom:1px solid black!important;} /*override*/
.accel-test-borders {border:0px dotted red}
.accel-notification-sent-text {font-weight: bold}