.c3llc-search-input {padding:0!important;border:0!important;}
.c3llc-search-item {border-bottom: 1px solid #F3F2F2;}
.c3llc-record-data {padding-top:5px;padding-bottom: 5px}
.c3llc-dropdown-container {background-color: white}
.c3llc-wizard-form-labels {font-weight: bold; font-size:.85em;color:black;padding-bottom: 3px}
.c3llc-backdrop {/*background-color:yellow;*/position: fixed;z-index: 999;top: 0;left: 0;right: 0;bottom: 0;}
.accel-listbox-entry{padding-bottom: 5px;font-weight:bold}