.accel-record-create-icon {--sds-c-icon-color-foreground-default: black;}
.accel-record-create-icon-white {--sds-c-icon-color-foreground-default: white;}
.accel-text-info-icon {--sds-c-icon-color-foreground-default: #001fd2;}
.lgc-bg {background-color:rgb(250,250,249);}
.lgc-highlight {background-color: rgb(252, 252, 165);}
.accel-text-help-highlight {color: #9b0729;}
.refresh-container { cursor: pointer;}
.accel-datatable_class { /*zoom: 87%;*/}
.accel-green-icon{ --lwc-colorTextIconDefault: rgb(18, 196, 10);}
.accel-success_text{ color: rgb(1, 131, 0);}
.accel-button {vertical-align: bottom}
.accel-button_stretch {display: grid; width: 100%}
.accel-blue-icon{--lwc-colorTextIconDefault: rgb(42,115,158);}