.THIS .accel-new-record-screen-flow {height:100%}
.THIS .accel-test-borders { border:0px dotted red}
.THIS .accel-create-assets-container {min-height: 150px;height:100%}
.THIS .slds-card__header {
   border-bottom: 1px solid rgb(221,219,218);padding-bottom: .50rem;
   background-color: rgb(243,242,242);margin-bottom: 0
}
.THIS .slds-card__body {margin-top:0;margin-bottom: 0;}
.THIS .accel-card-title {text-align: left;font-weight: bold;font-size: 1.15em}
.THIS .accel-text-card-heading {font-weight: normal; }
.THIS .accel-template_default {padding-top:0;padding-bottom: .25rem;padding-left:.25rem}
.THIS .accel-brand-band {min-width: unset}