.accel-footer-container {
    background-color: black;
    max-width: 1400px!important;
    margin: 0 auto;
    max-width: 100%;
}
.accel-light-text {
    color:#A8A8A8;
}
.accel-footer-text {
    font-size: .80em;
}