.accel-modal_footer {
    background-color:rgb(243,242,242);padding:.50rem!important;
}
.accel-modal_header {
    background-color:rgb(243,242,242);
    padding-top:.6rem;padding-bottom:.5rem;
}
.accel-user-image-container {
    padding-left:.5rem;
    background-color: #fae8d0;
    padding-bottom: .80rem;
}
.accel-user-data-container {
    padding-left: .80rem;
}