.accel-search-input {padding:0!important;border:0!important;}
.c3llc-geosearch-item {border-bottom: 1px solid black;}
.c3llc-address-data {padding-top:5px;padding-bottom: 5px}
.c3llc-dropdown-container {background-color: white}