.THIS .accel-datatable-scrollersize {
    height:450px;
}
.THIS .accel-table-header-desc {
    font-size:0.75rem;
    padding-left:5px;
    font-weight:550;
}
.THIS  .accel-location-monthly-details-datatable  tr {

    line-height:.88rem;
    font-size:.97em!important;

    color:black!important;
    font-weight:500;
    padding-top: 0.2rem;
    padding-right: 0.5rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
}
.THIS .accel-location-monthly-details-datatable thead th span {
    background-color: #F3F2F2;
    min-height:1rem!important;
    font-size:.9em;
}
.THIS .accel-location-monthly-details-datatable thead th {
    padding-top:.2rem!important;
    padding-bottom: .2rem!important;
}
.THIS .slds-form-element__icon {
    padding-top: 0rem!important;
}
.THIS .accel-location-breakdown-date {
    font-weight: 700;
    color:darkblue;
}
.THIS .accel-pagination-btn-small {
    height: 24px;font-size:.9em;line-height:1.1em;
    padding-left:.7rem!important;padding-right:.7rem!important;
}
.THIS {
    min-height: 375px;
    height: 375px;
    background-color: white;
}
.THIS .pin-bottom{
    position: absolute;
    bottom:0;
}
.THIS .pin-left{
    left:0;
}
.THIS .pin-right{
    right:0;
}