.accel-test-borders {border:1px dotted red}
.accel-admin-help-outer-container {padding-top:2px;}
.accel-square-box{border-width: 1px;border-style: solid;border-color: rgb(219, 219, 219);border-image: initial;}
.accel-square-box__info {
    border-left:3px solid rgb(0, 112, 210);-webkit-appearance: none;background-color: #F3F2F2;
}
.accel-square-box__info .lightning-icon > .lightning-primitive-icon > svg { fill:rgb(27,82,151);}

.accel-square-box__success {border-left:3px solid green;-webkit-appearance: none;background-color: #F3F2F2;}
.accel-square-box__success .lightning-icon > .lightning-primitive-icon > svg { fill:green;}
.accel-scoped-notification__warning { font-size:.875rem;}
.accel-detailed-body-text {font-size:.875rem;margin-top: 10px;}
.accel-hard-wrap-text {   overflow-wrap:break-word }
.accel-error-icon svg {fill: rgb(194, 57, 52)!important;} /* override parent*/
.accel-create-assets-text {font-style: italic;color:green}
.c3llc-li-container {
    margin-bottom:7px;
}