.accel-notification_condense {
    padding: 5px;
    font-size: .87em;
}
.accel-notification_small {
    padding: 7px;
    font-size: .90em;
    text-align: left!important;
}
.accel-notification-info_theme {
    background-color: rgb(255, 249, 235);
}
.accel-notification-error_theme {
    background-color: rgb(194,57,52);
    color: white;
    text-align: left!important;
    font-weight: bold;
}
.accel-notification-warning_theme {
    background-color: rgb(255, 152, 0);
    color: black;
    text-align: left!important;
    font-weight: bold;
}
.accel-notification-success_theme {
    background-color: green;
    color: white;
    text-align: left!important;
    font-weight: bold;
}
/*a.errorlink:link { color:#FFF; text-decoration:none; font-weight:normal; }*/
/*a.errorlink:visited { color: #FFF; text-decoration:none; font-weight:normal; }*/
/*a.errorlink:hover { color: #FFF; text-decoration:underline; font-weight:normal; }*/
/*a.errorlink:active { color: #FFF; text-decoration:none; font-weight:normal; }*/