.THIS .accel-echarts-machine-comparison-chart { min-height: 475px;width:100% }
.THIS .accel-shadow-drag { box-shadow: t(shadowDrag); }           /* shadowDrag is standard sfdc design token */
.THIS .accel-chart-container { background-color: white; }
.THIS .accel-echarts-machine-comparison-container{padding:5px; background-color: white}