.THIS .slds-button_icon-bare{
    display: none;
}
.THIS.revTableWrapper th .slds-truncate {
    white-space: normal!important;
    overflow-wrap: break-word!important;
    word-wrap: break-word!important;
}
.THIS.last-row-bold table tr:last-child * {
    font-weight: 800;
}