.accel-card_subtitle {font-size: .75rem;}
.accel-test-borders {border:0px dotted orange;}
.accel-back-button {
}
.accel-back-icon {
  /*  --sds-c-icon-color-background: rgb(0,95,178);
    --sds-c-icon-color-foreground-default: white;*/
}