.accel-icon-red {
    --sds-c-icon-color-foreground-default: rgb(238,48,72);
}
.accel-icon-blue {
    --sds-c-icon-color-foreground-default: rgb(37,116,169);
}
.accel-icon-green {
    --sds-c-icon-color-foreground-default: rgb(73,201,167);
}