.THIS .scrollerSize {
    height: 400px;
    min-height:300px;
}
.THIS .font-color-override {
    color:black!important;
}
.THIS .accel-modal-footer-container {
    max-width: inherit;
    min-width: inherit;
    width: inherit;
    text-align: right;
}
.THIS .accel-modal-footer-buttons {
    text-align: right;
    padding: .75rem 1rem;
    background-color: rgb(243, 242, 242);
}