.THIS  a {
    /*color:white;*/
    text-decoration: none;
}
.THIS  a:hover {
    color:white;
    text-decoration: none;
}
/* ======================================== RJN New ==========================================================*/
.THIS .accel-password-title {
    font-size: 2rem;
    font-family: "Segoe UI Light" , "Segoe" , "SegoeUI-Light-final", Tahoma, Helvetica, Arial, sans-serif;
}
@media only screen and (max-width: 896px){
    .THIS .accel-password-title {
        font-size: 1.2rem;
    }
}
@media only screen and (min-width:897px) {
    .THIS .accel-password-form-container {
        margin-top:20%;
    }
}
.THIS .accel-password-form-container {
    min-height: 100px;
    padding:20px;
    background: #fff;
    max-width: 46rem;
    box-shadow: 0 1px 4px rgba(1,1,1,.3);
    -webkit-box-shadow: 0 1px 4px rgba(1,1,1,.3);
    border-radius: 3px;
}

.THIS .accel-backtologin-container {
 margin-top:15px;
}
.THIS .accel-password-instructions-container {
    font-weight: 400;
    margin-bottom: 10px;
}
.THIS .accel-password-form-help {
    margin-bottom:20px;
    font-weight: 500;
    margin-top:20px;
    font-size: 1rem;
}
.THIS input {
    font-family: inherit;
    margin-bottom: 8px;
    background-color: white;
    width: 100%;
    -webkit-appearance: textfield;
    height: 28px;
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
}
.THIS input.text{
    height: 28px;
    padding: 0px 3px 0px 3px;
    border: solid 1px #BABABA;
}

.THIS button.sfdc_button {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    background-color: #2672ec;
    border-color: #357ebd;
    display: block;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 12px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.THIS button:hover {
    background-color: #00559f;
    border-color: #285e8e;
    cursor: pointer;
}

.THIS button .label {
    color: #fff;
}
.THIS input:focus{
    outline-offset: 0px;
}


.THIS .accel-form-actions {
    margin-top:15px;
    padding-left: 5px;
    padding-right: 5px;

}
.THIS .accel-back-action-container {
    display: flex;
    align-items: center;
}
.THIS a:hover {
    color: rgb(51, 149, 220);
    text-decoration: underline;
}