/**
 * Created by ZacharyM on 1/22/2019.
 */
.THIS {
    /*min-height: calc(100vh - 36px); */
    background-color: #eaeaea;
    padding: 14px;
    overflow: auto;
    /*min-height: calc(100vh - 52px);
    width: calc(100% - 200px); */
}