.THIS .bg {
    min-height: 200px;
    background: #F3F2F2!important;
}
.THIS .slds-card {
    background: #F3F2F2!important;
}
.THIS .slds-table td {
    font-size:.78rem!important;
}
.THIS .slds-table th {
    font-size:.78rem!important;
}
.THIS .slds-input-small {
    line-height: 1.50rem!important;
    min-height: calc(1.50rem + (1px * 2))!important;
}
.THIS .slds-button_icon-bare{
     display: none;
}