.THIS .accel-test-borders{border:0x dotted red}
.THIS .accel-assets-container {min-height: 125px;font-size:.875rem}
.THIS .slds-card__header { border-bottom: 1px solid rgb(221,219,218);padding-bottom: .50rem;background-color: rgb(243,242,242)}
.THIS .fa-ul > li { position: relative; margin-bottom: 1em;}